.wrapper

  =render 'shared/side_bar'

  .chat
    .header
      .header-group
        .header-group__name
          グループ名
        %ul.header-group__members
          メンバー:
          %li.member
            メンバー名
          %li.member
            メンバー名
      .header-right
        .header-right__button
          Edit
    .messages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__send'